<%= javascript_include_tag "modestmaps" %>
<%= javascript_include_tag "wax.mm" %>
<%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js" %>
<%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js" %>
<%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js" %>
<%= javascript_include_tag "js/Viewer" %>
<%= javascript_include_tag "js/Models" %>
<%= stylesheet_link_tag "controls" %>
<%= stylesheet_link_tag "css/boxselector.css" %>
<%= stylesheet_link_tag "http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.1/css/bootstrap.css" %>
<div class="container-fluid">
  <div class="hero-unit" style="padding: 15px; margin-bottom: 20px;">
    <div class="row-fluid">
      <div class="span9">
        <div class="progress progress-striped">
          <div class="bar"></div>
        </div>
        <div class="title"><h2>Labeling image <%= session[:num_images_classified] %>/10</h2></div>
        <p class="instructions-static" style="font-size:18px;">Mark each box in the image below as epithelium or stroma. See right for epithelium (red) and stroma (blue) examples.</p>
        <div class="row-fluid">
          <div class="span6"><h4>Epithelium Regions...</h4>
            <ul>
              <li>are clumps of many distinct cells with nuclei</li>
              <li>tend to be darker purple</li>
            </ul>
          </div>
          <div class="span6"><h4>Stroma Regions...</h4>
            <ul>
              <li>lack distinct cells and surround type epithelium regions</li>
              <li>tend to be lighter pink</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="span3"><%= image_tag("tutorial_classify.png") %></div>
    </div>
  </div>

  <div id='image-map' style="height: 350px; width: auto;"></div>
  <p style="margin: 0 0 10px;"><div class="row-fluid" id='controls'>
    <div class="span1">
    <% if @nextId %>
      <a href='/annotation/classify/<%= @nextId %>'><button id="submit-button" class="btn btn-secondary btn-large" type="button" disabled="disabled">Submit</button></a>
    <% else %>
      <a href='/annotation/classify'><button id="submit-button" class="btn btn-secondary btn-large" type="button">Submit Labels</button></a>
    <% end %>
    </div>
    <div class="span11">
      <div class="alert alert-info" id="label-submit" style="line-height:25px;">
        <p id="instructions-dynamic" style="margin: 0 0 0px;">Get started by labeling a box of your choice. See the top-right example if you need help! Scroll across the image to get all boxes, and Submit when you all boxes are labeled.</p>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  var numImagesSeen = <%= session[:num_images_classified] %>;
  var sessionId = '<%= session[:session_id] %>';
  $('.bar').width(numImagesSeen * 10 + '%');
  var loadedRois = <%= @rois.html_safe %>;
  var imageId = "<%= @imageId %>";
  var tagOptions = ["epithelium", "stroma"];
  var firstLabel = false;
  initViewer( <%= @tilejson.html_safe %> );
  if (!loadedRois || loadedRois.length == 0) {
    readySubmit();
  }
<% end %>
